<div class="container">

  <div class="row">
    <div class="form-group col">
      <h3>Payment Form</h3>
      <label for="">Receiver Name</label>
      <input class="form-control" type="text" (input)="onNameChange($any($event.target).value)">
    </div>
    <div class="col">
      <label for="">Receiver Name</label><br />
      {{nameInput | titlecase}}
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="">Payment Date</label>
      <input class="form-control" type="date" (input)="onDateChange($any($event.target).value)">
    </div>
    <div class="col">
      <label for="">Payment Date</label><br />
      {{dateInput | date:'EEEE, MMMM d, y'}}
    </div>
  </div>


  <div class="row">
    <div class="form-group col">
      <label for="">Amount</label>
      <input class="form-control" type="text" (input)="onAmountChange($any($event.target).value)">
    </div>
    <div class="col">
      <label for="">Amount</label><br />
      {{amountInput | currency:'GBP': 'symbol': '3.1-2'}}
    </div>
  </div>


  <div class="row">
    <div class="form-group col">
      <label for="">Height</label>
      <input class="form-control" type="text" (input)="onHeightChange($any($event.target).value)">
    </div>
    <div class="col">
      <label for="">Height</label><br />
      {{heightInput | number:'3.2-4' }}
    </div>
  </div>

  <div>
    {{car | json}}
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="">Mile</label>
      <input class="form-control" type="number" (input)="onMileChange($any($event.target).value)">
    </div>
    <div class="col" *ngIf="(mileInput | convert: 'km') > 10">
      <label for="">KM</label><br />
      {{mileInput | convert: 'km' | number: '1.0-2' }}
    </div>
  </div>

</div>